{% extends "base.html" %}

{% block title %}
Dados da consulta
{% endblock title %}

{% block content %}
    <section class="invoice">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> Consulta.
            <small class="pull-right">Data: {{consulta.data}}</small>
          </h2>
        </div>
      </div>
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          Clínica
          <address>
            <strong>Admin, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            Phone: (804) 123-5432<br>
            Email: info@almasaeedstudio.com
          </address>
        </div>
        <div class="col-sm-4 invoice-col">
          Pet
          <address>
            <strong>{{consulta.pet.nome}}</strong><br>
            {{consulta.pet.get_categoria_display}}<br>
            {{consulta.pet.get_cor_display}}<br>
          </address>
        </div>
        <div class="col-sm-4 invoice-col">
          <b>Consulta</b><br>
          <br>
          <b>Data:</b> {{consulta.data}}<br>
          <b>Motivo:</b> {{consulta.motivo_consulta}}<br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Pet</th>
              <th>Motivo</th>
              <th>Peso Atual</th>
              <th>Medicamentos Prescritos</th>
              <th>Exames Prescritos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{consulta.pet.nome}}</td>
              <td>{{consulta.motivo_consulta}}</td>
              <td>{{consulta.peso_atual}}</td>
              <td>{{consulta.medicamentos_prescritos}}</td>
              <td>{{consulta.exames_prescritos}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row no-print">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-send"></i> Enviar por email
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" onclick="window.print();">
            <i class="fa fa-print"></i> Imprimir
          </button>
        </div>
      </div>
    </section>

{% endblock content %}